body {
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 72px 0px;
    background-color: #eca6f5;
    color: white;
    text-align: center;
    font-size: 36px;

}

a {
    display: block;
    margin-top: 24px;
    text-decoration: none;
    color: #eca6f5;
    text-align: center;
}